name: Run tests

on: [pull_request, push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with: {python-version: 3.14}
    - run: pip install .
    - run: pip install pytest
    - uses: actions/cache@v4
      with:
        key: cache-dir
        path: .pytest_cache/d
    - run: pytest
